
@use './scss/color-set' as *;

.dx-ui-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: var(--border-radius-default);
  line-height: 1;
  font-family: var(--font-family);
  font-weight: var(--font-weight) ;
  
  //box-sizing: border-box;
  &:focus{
    outline-offset: var(--focus-offset);
    outline-width: var(--focus-width);
    outline-style: solid;
    outline-color: var(--color-accent-default);
  }
  &--primary {   
    @include apply-color-set('accent', 'background-color');
    color: white;
    
  }
  &--secondary {
     @include apply-color-set('accent-light', 'background-color');
    color: white;
  } 
  &--tertiary {
    @include apply-color-set('accent', 'color' );
    @include apply-color-set('accent', 'border-color' );
    @include apply-color-set('default', 'background-color');
    border-width: var(--border-width);
    border-style: solid;
    background-color: white;
  } 
  &--small {
    //padding: 6px 12px;
    font-size: var(--font-size-s);
    height: var(--height-s);
    padding: 0 var(--height-s);
  }
  &--medium {
    //padding: 6px 12px;
    font-size: var(--font-size-m);
    height: var(--height-m);
    padding: 0 var(--height-m);
  }
  &--large {
    //padding: 10px 20px;
    font-size: var(--font-size-l);
    height: var(--height-l);
    padding: 0 var(--height-l);
  }
  &:disabled {
    cursor: default;
  }
}
