.dx-ui-heading {
  display: block;
  
  line-height: 1;
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
  color: var(--color-default-foreground);
  &--1 {
    font-size: 32px;
  }
  &--2 {
    font-size: 28px;
  }
  &--3 {
    font-size: 24px;
  }
  &--4 {
    font-size: 20px;
  }
  &--5 {
    font-size: 16px;
  }
  &--6 {
    font-size: 14px;
  }
}
