.dx-ui-heading {
  display: block;
  font-weight: 700;
  line-height: 1;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  &--1 {
    font-size: 32px;
  }
  &--2 {
    font-size: 28px;
  }
  &--3 {
    font-size: 24px;
  }
  &--4 {
    font-size: 20px;
  }
  &--5 {
    font-size: 16px;
  }
  &--6 {
    font-size: 14px;
  }
}
