@use 'sass:color';

@mixin create-color-set($name, $color, $hover-step: -5%, $active-step: -10%) {
    --color-#{$name}-default: #{$color};
    --color-#{$name}-hover: #{color.adjust($color, $lightness: $hover-step)};
    --color-#{$name}-active: #{color.adjust($color, $lightness: $active-step)};
    --color-#{$name}-disabled: #{color.adjust(color.grayscale($color), $lightness: 25%)};
}

:root {
  /* Typography */
  --font-family-default: Roboto, sans-serif;
  --font-weight-default: 400;
  --font-size-default: 16px;
  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size-l: 20px;


  --font-family: Roboto, sans-serif;
  --font-weight: 400;

  --font-family-heading: Roboto, sans-serif;
  --font-weight-heading: 600;



  /* geometry */

  --height-s: 16px;
  --height-m: 24px;
  --height-l: 32px;


  /* Colors */
  @include create-color-set('default', white);
  @include create-color-set('grey', lightgrey);
  //@include create-color-set('primary', whitesmoke);
  @include create-color-set('accent', #1e7fcb);
  @include create-color-set('accent-light', #89b5d7);
  //@include create-color-set('accent-secondary', #b1ddff);
  //@include create-color-set('disabled', gray);

  /* Borders */
  --border-radius-default: 20px;
  --border-width:1.5px;

  --focus-width: 1.5px;
  --focus-offset: 2px;



  /* Animations */
  --transition-duration-default: 0.3s;
  --transition-duration-color: 0.1s;






  /* Brand 
  --dx-color-brand-500: #000000;
  --dx-color-brand-600: #111111;
*/
  /* Neutral 
  --dx-color-white: #ffffff;
  --dx-color-black: #000000;
  --dx-color-gray-700: #333333;
*/
  /* Component tokens: Button
  --dx-button-primary-bg: var(--dx-color-brand-500);
  --dx-button-primary-fg: var(--dx-color-white);
  --dx-button-secondary-bg: var(--dx-color-white);
  --dx-button-secondary-fg: var(--dx-color-black);
  --dx-button-secondary-border: rgba(0, 0, 0, 0.15);
 */
  /* Component tokens: Header 
  --dx-header-border: rgba(0, 0, 0, 0.1);
  --dx-header-text-muted: var(--dx-color-gray-700);
  */
}
